---
import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"
import LayoutBase from "../../../layouts/layout-base.astro"
import { markdownToHtml } from "../../../lib"

interface Props {
  content: string
  slug: string
  summary: string
  title: string
}

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection("posts")

  const unresolved = posts.map(async (post) => ({
    params: { slug: post.slug },
    props: {
      ...post.data,
      content: await markdownToHtml(post.body),
      slug: post.slug,
    },
  }))

  return await Promise.all(unresolved)
}

const { content, summary, title } = Astro.props
---

<LayoutBase title={title}>
  <article class="p-2">
    <h1 class="text-7xl">{title}</h1>
    <small class="text-md">{summary}</small>
    <div id="content" class="" set:html={content} />
  </article>
</LayoutBase>
