---
import LayoutBase from "../layouts/layout-base.astro"
---

<LayoutBase title="Home">
  <p>Welcome to the site!</p>
  <p>Here I'll write blog posts and host whatever content my heart desires.</p>
</LayoutBase>
