---
const headerLinks: Array<{ href: string; text: string }> = [
  { href: "/", text: "Home" },
  { href: "/blog", text: "Blog" },
]
---

<header class="sticky gap-2 bg-slate-900 text-blue-100">
  <div class="flex justify-between items-stretch max-w-screen-xl mx-auto">
    <h1 class="flex font-bold">
      <a href="/" class="flex items-center px-4"> <span>Wayne Van Son</span></a>
    </h1>
    <nav class="my-2 mr-4">
      <ul class="flex gap-2">
        {
          headerLinks.map(({ href, text }) => (
            <li>
              <a
                href={href}
                class="px-4 py-2 block rounded-xl border-2 border-transparent hover:border-blue-400"
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
